Welcome

<div class="search-prompt">Search for a word:</div>
<div class="search-form">
  <%= form_tag('/search?word=', method: :get) do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Submit' %>
  <% end %>
</div>

<br/>

<% if @words %>
  <table>
    <tr>
      <td>Word</td>
      <td>Base Score</td>
    </tr>
  <% @words.each do |word| %>
    <tr>
      <td><%= word[0] %></td>
      <td><%= word[1] %></td>
    </tr>
  <% end %>
</table>
<% end %>
